<div style="padding-left:20px;">

  <h1>Results:</h1>

  <h3 id="name">Station Name: <%= @station.name %></h3>
  <h4 id="address">Address: <%= @station.address %></h4>
  <h4 id="fuel_type">Type: <%= @station.fuel_type %></h4>
  <h4 id="access_times">Open: <%= @station.access_times %></h4>
  <br>
  <h1>Directions:</h1>

  <h4 id="distance">Distance: <%= @directions.distance %> mi</h4>
  <h4 id="travel_time">Total Travel Time: <%= @directions.travel_time %></h4>
  <h3 id="directions">Route:
  <br>
    <% @directions.directions.each_with_index do |direction, idx| %>
      <p><%= "#{idx + 1}.) #{direction}" %></p>
    <% end %>
  </h3>
</div>
